<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
        <h3 class="masthead-brand"><i class="fa fa-paper-plane-o fa-lg"></i>  AirAsia Flight Ticket Tracker</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
      <h1 class="cover-heading"><i class="fa fa-usd fa-lg"></i>  <i>Get Lowest Price Ticket!</i>  <i class="fa fa-usd fa-lg"></i></h1>
        <div class="panel panel-info">
          <div class="panel-body">
            <%= render partial: 'partials/controls/flash', locals: { flash: flash } %>

            <%= form_tag users_path, method: :post, role: 'form', class: 'form-horizontal' do %>

              <div class="form-group">
                <%= label_tag :date, 'Choose Date', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <div class="input-daterange input-group" id="datepicker">
                    <%= text_field_tag :from, '', class: 'form-control', placeholder: "From Date", required: true %>
                    <span class="input-group-addon">to</span>
                    <%= text_field_tag :to, '', class: 'form-control', placeholder: "To Date", required: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :origin, 'Depart', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= select_tag :origin, options_for_select(Tracker::LOCATION_FROM), class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :destination, 'Destination', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= select_tag :destination, options_for_select(Tracker::LOCATION_TO), class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :target, 'Notify When Price Below', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag :target, '', class: 'form-control', required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :email, 'Email', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= email_field_tag :email, '', class: 'form-control', placeholder: "Your Personal Email", required: true %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <%= submit_tag 'Notify Me', class: 'btn btn-primary btn-block', disable_with: "Hold On..."%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Build By <a href="http://nich.virtualspirit.me">Nicholas NG [VirtualSpirit]</a></p>
        </div>
      </div>

    </div>

  </div>
</div>